body {
  font-family: sans-serif;
}

.main-grid {
  display: grid;
  grid-template-columns: 100px 100px 200px;
  grid-gap: 1rem;
}

.element {
  background-color: orange;
  border-radius: 4px;
  border: 1px solid #dc7600;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  padding: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin: 20px;
}

.buttons button {
  padding: 0.5em 1em;
}

.main-container {
  width: 800px;
  height: 600px;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  margin-inline: auto;
  background-color: #efefef;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative; // to make this the offsetParent.
}

nav {
  display: flex;
  gap: 1rem;
  margin: 1rem;

  & > a {
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;

    &[aria-current="page"] {
      background-color: #dc7600;
      color: white;
    }
  }
}

@mixin layout-box {
  width: 100%;
  height: 400px;
  border: 1px solid #dc7600;
  display: grid;
}

.main-mode {
  @include layout-box;
  grid-template-columns: 200px;
  justify-content: center;
}

.edit-mode {
  @include layout-box;
  grid-template-columns: 100px 300px;
}

.edit-options-mode {
  @include layout-box;
  grid-template-columns: 100px 200px;
}

.main-view {
  background-color: #ffb0b0;
}

.edit-view {
  background-color: #b0ffb0;
}

.edit-options-view {
  background-color: #b0b0ff;
}

.dynamics-page {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 50px;
  padding: 50px;

  input[type="range"] {
    width: 100%;
  }

  ._chartistry {
    justify-self: center;
  }

  .controls {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    align-content: start;
  }
}

.animated-swap-page {
  .content {
    padding: 1rem 1.5rem;
    background-color: #ffcd94;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
  }

  .var-c {
    height: 100px;
  }
}

.animated-show-page {
  .child {
    padding: 1rem 1.5rem;
    background-color: #ffcd94;
    display: inline-block;
    box-sizing: border-box;
  }
}